/*
 * No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
 *
 * API version: 2.5.1
 */

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package oxforddictionaries

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// ThesaurusApiService ThesaurusApi service
type ThesaurusApiService service

type ApiThesaurusSourceLangWordIdGetRequest struct {
	ctx _context.Context
	ApiService *ThesaurusApiService
	sourceLang string
	wordId string
	appId *string
	appKey *string
	fields *[]string
	strictMatch *bool
}

func (r ApiThesaurusSourceLangWordIdGetRequest) AppId(appId string) ApiThesaurusSourceLangWordIdGetRequest {
	r.appId = &appId
	return r
}
func (r ApiThesaurusSourceLangWordIdGetRequest) AppKey(appKey string) ApiThesaurusSourceLangWordIdGetRequest {
	r.appKey = &appKey
	return r
}
func (r ApiThesaurusSourceLangWordIdGetRequest) Fields(fields []string) ApiThesaurusSourceLangWordIdGetRequest {
	r.fields = &fields
	return r
}
func (r ApiThesaurusSourceLangWordIdGetRequest) StrictMatch(strictMatch bool) ApiThesaurusSourceLangWordIdGetRequest {
	r.strictMatch = &strictMatch
	return r
}

func (r ApiThesaurusSourceLangWordIdGetRequest) Execute() (Thesaurus, *_nethttp.Response, error) {
	return r.ApiService.ThesaurusSourceLangWordIdGetExecute(r)
}

/*
 * ThesaurusSourceLangWordIdGet Retrieve words that are similar to a given word
 * Use this to retrieve words that are similar/opposite in meaning to the input word ([synonym](documentation/glossary?term=synonym)/[antonym](documentation/glossary?term=antonym)).

Tip: Some Entries responses contain sense-level links to a Thesaurus entry by the property "thesaurusLink". For instance:

```@javascript
  {
    "thesaurusLinks": [
                            {
                                "entry_id": "abide_by",
                                "sense_id": "t_en_gb0000029.003"
                            }
                        ]
  }

```
<div id="synonyms"></div>

 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param sourceLang Language code of the source language in a Thesaurus dataset.
 * @param wordId The identifier for an Entry (case-sensitive).
 * @return ApiThesaurusSourceLangWordIdGetRequest
 */
func (a *ThesaurusApiService) ThesaurusSourceLangWordIdGet(ctx _context.Context, sourceLang string, wordId string) ApiThesaurusSourceLangWordIdGetRequest {
	return ApiThesaurusSourceLangWordIdGetRequest{
		ApiService: a,
		ctx: ctx,
		sourceLang: sourceLang,
		wordId: wordId,
	}
}

/*
 * Execute executes the request
 * @return Thesaurus
 */
func (a *ThesaurusApiService) ThesaurusSourceLangWordIdGetExecute(r ApiThesaurusSourceLangWordIdGetRequest) (Thesaurus, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  Thesaurus
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ThesaurusApiService.ThesaurusSourceLangWordIdGet")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/thesaurus/{source_lang}/{word_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"source_lang"+"}", _neturl.PathEscape(parameterToString(r.sourceLang, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"word_id"+"}", _neturl.PathEscape(parameterToString(r.wordId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}
	if r.appId == nil {
		return localVarReturnValue, nil, reportError("appId is required and must be specified")
	}
	if r.appKey == nil {
		return localVarReturnValue, nil, reportError("appKey is required and must be specified")
	}

	if r.fields != nil {
		localVarQueryParams.Add("fields", parameterToString(*r.fields, "csv"))
	}
	if r.strictMatch != nil {
		localVarQueryParams.Add("strictMatch", parameterToString(*r.strictMatch, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"*/*"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	localVarHeaderParams["app_id"] = parameterToString(*r.appId, "")
	localVarHeaderParams["app_key"] = parameterToString(*r.appKey, "")
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorSchema
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ErrorSchema
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 414 {
			var v ErrorSchema
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v ErrorSchema
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
